# PORT to use for `SERVER_URL`. Default is 3000
PORT=
# URL to be used by pages to fetch (and preload) data
SERVER_URL=

# SALT ROUNDS
PASSWORD_SALT_ROUNDS=
AUTH_TOKEN_SALT_ROUNDS=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Choose one of the following depending on your preferred database type
## For `postgresql`
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
## For `sqlite`
DATABASE_URL="file:./location/to/file.db"
